html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

img {
  width: 100%;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
}

.main-nav {
  max-wrapper: 60em;
  color: #c9b5ab;
  font-size: 1.125rem;
}

.main-nav:hover {
  border-bottom: none;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: .8rem;
  font-style: italic;
}
